@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

.mode-dark {
  @apply bg-gray-800 text-whiteAlpha-900 border-whiteAlpha-300;
}

.mode-light {
  @apply text-gray-800 border-gray-200;
}

.bg-inherit {
  background-color: inherit;
}

.border-inherit {
  border-color: inherit;
}

.text-inherit {
  color: inherit;
}


@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  @apply inline-block border-2 border-current border-solid rounded-full text-current;
}

.spin {
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spin-animation 0.45s linear infinite;
}